<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etica Profesional</title>
    <link rel="shortcut icon" href="./IMG/ayuda copia1.png">

    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="tarjeta.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/comunicacion">Principio de Comunicación</a>
            <a href="/comprender">Principio de Comprender a las personas</a>
            <a href="/motivar">Principio de Motivar a las personas</a>
            <a href="/justicia">Principio de Justicia</a>
            <a href="/critica">Principio de Crítica</a> <br><br>
            <a href="/perdon">Principio del Perdón</a>
            <a href="/confiar">Principio de Confiar en Dios</a>
            <a href="/integridad">Principio de Integridad</a>
            <a href="/empoderamoiento">Principio de Empoderamiento</a>
        </nav>

        <section class="textos-head">
            <h1>Principio de Empoderamiento</h1>
        
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" 
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C244.64,99.00 347.90,-23.36 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" 
            style="stroke: none; fill: #fff;"></path>
        </svg></div>
        
    </header>

    <main>
        <section class="contenedor-inicio">
            <h2 class="titulo">¿Qué es Comunicación?</h2>
            <div class="contenedoraqui">
                <img src="https://responsabilidadsocial.net/wp-content/uploads/2022/03/empoderamiento-de-la-mujer-que-es-definicion-principios-tipos-y-ejemplos.jpg" alt="" class="nosotros">
                <div class="contenedor-texto">
                    
                    <p>
                        Como empoderamiento se conoce el proceso por medio del cual se dota a un individuo, comunidad o grupo social de un conjunto de herramientas para aumentar su fortaleza, mejorar sus capacidades y acrecentar su potencial, todo esto con el objetivo de que pueda mejorar su situación social, política, económica, psicológica o espiritual.
                    </p>
                    
                    <p>
                        La palabra, como tal, es un calco que proviene del inglés, deriva del verbo to empower, que en español se traduce como ‘empoderar’, del cual a su vez se forma el sustantivo empoderamiento. 
                    </p>

                    
                </div>
            </div>
        </section>
        <section class="contendido">
            <div class="contenedor">
                <div class="galeriacontent">
                    <br>
                    <br>
                    <h2 class="titulo">Definicion</h2>
                    <br>
                    <p>
                        Empoderar, pues, significa desarrollar en una persona la confianza y la seguridad en sí misma, en sus capacidades, en su potencial y en la importancia de sus acciones y decisiones para afectar su vida positivamente.
                    </p>

                    <br>
                    <p>
                        De ahí que el empoderamiento se refiera, sobre todo en las ciencias sociales, al proceso de conceder poder a un colectivo, comunidad o grupo social que se encuentra en situación precaria en términos económicos, políticos o sociales, por lo general marginado o excluido por diferentes motivos (sexo, origen, raza, religión, preferencias sexuales, etc.).
                    </p>

                    <br>
                    <p>
                       La finalidad última del empoderamiento social es que dicho colectivo sea capaz por sí mismo, trabajando y organizándose, de mejorar sus condiciones de vida.
                    </p>
                    <br>
                    <p>
                        Asimismo, en el plano individual, el empoderamiento se refiere a la importancia de que las personas desarrollen capacidades y habilidades para que puedan hacer valer su rol y mejorar su situación en términos de derechos sociales y políticos, así como en lo referente a la actividad económica y productiva.
                    </p>

                    
                    <br>
                    <br>
                    <h2 class="titulo">Textos Biblicos</h2>
                    <br>
                    <p><strong>Colosenses 1:11 </strong>
                        
fortalecidos con todo poder según la potencia de su gloria, para obtener toda perseverancia y paciencia, con gozo
                    </p>
                    <br><br>
                    <P><strong>Ezequiel 36:27 </strong>
                        
Pondré dentro de vosotros mi espíritu y haré que andéis en mis estatutos, y que cumpláis cuidadosamente mis ordenanzas.
                    </P>
                    <br>
                    <P><strong>Lucas 24:49</strong>
                        
Y he aquí, yo enviaré sobre vosotros la promesa de mi Padre; pero vosotros, permaneced en la ciudad hasta que seáis investidos con poder de lo alto.
                        
                    </P>
                    <br><br>
                    <P><br><strong> Salmos 28:9 </strong>
                        
Salva a tu pueblo y bendice a tu heredad, pastoréalos y llévalos para siempre.
                        
                    </P>
                   
                    
                </div>
            </div>
        </section>
        <section class="clientescont">
            <h2 class="titulo">Pensamientos para Reflexionar</h2>
            <div class="tarjetas">
                <div class="tarjeta">
                    <img src="IMG/test.png" alt="">
                    <div class="contentexto">
                        <p align="center">"Cuando se tienen principios claros, es fácil tomar decisiones" <br>

                            Las decisiones nacen de lo que nosotros creemos y cuando tenemos definido nuestros principios no debería existir mas dudas 
                        </p>
                    </div>
                </div>
                <div class="tarjeta">
                    <img src="IMG/mano.jpg" alt="">
                    <div class="contentexto">
                        <p align="center">"La brújula es una excelente metáfora física de los principios porque siempre señala el norte. La clave, para mantener una elevada autoridad moral, es seguir continuamente unos principios de "verdadero norte". <br>  Stephen Covey
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <h2 class="titulo">Video de Reflexión</h2>

    <!-- beginning video -->
        <div class="body">
            <ul class="card-wrapper">
                <li class="card">


                    <iframe id="video" src="https://www.youtube.com/embed/XmuFnn9-WuE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 class="hh3">Principio de Empoderamiento</h3>
                </li>
            </ul>
        </div>
    <!-- end video -->
    
    </main>
    
    <footer>
        <div class="contenedorb">
            <div class="contendb">
                <h4>Carnet</h4>
                <p>2290-14-11283</p>
                <p>2290-17-16574</p>
                <p>2290-18-18781</p>
            </div>
            <div class="contendb">
                <h4>Nombre</h4>
                <p>Diego Samuel Perez</p>
                <p>Bartolome Lacan Quiejú </p>
                <p>Danny Ixcaya Xajil</p>
            </div>
            <div class="contendb">
                <h4>Universidad</h4>
                <p>Mariano Gálvez</p>
                <p>Mariano Gálvez</p>
                <p>Mariano Gálvez</p>
            </div>
        </div>
        <h2 class="titulofinal">&copy; Etica Profesional | Sololá</h2>
    </footer>
</body>
</html>