<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos2.css">
    <title>inicio</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/img/logoprincipal.png" alt="logo">
            <h2 class="nombredelaempresa">Pablo</h2>
        </div> 
        <nav><a href="/" class="nav-link">INICIO</a>
            <a href="/servicios" class="nav-link">SERVICIOS</a>
            <a href="/proyectos" class="nav-link">PROYECTOS</a>
            <a href="/sobremi" class="nav-link">SOBRE MI</a> </nav>
    </header>
    <div class="contenedor"><p>HOLA, SOY PABLO.</p><p>DISEÑADOR Y ESTUDIANTE DE INGENIERIA EN SISTEMAS DE INFORMACIÓN.</p></div>
    <div class ="avatar"><img src="/img/avataryo.png" alt="avatar"></div>
</body>
</html>