<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etica Profesional</title>
    <link rel="shortcut icon" href="./IMG/ayuda copia1.png">

    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="tarjeta.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/comunicacion">Principio de Comunicación</a>
            <a href="/comprender">Principio de Comprender a las personas</a>
            <a href="/motivar">Principio de Motivar a las personas</a>
            <a href="/justicia">Principio de Justicia</a>
            <a href="/critica">Principio de Crítica</a> <br><br>
            <a href="/perdon">Principio del Perdón</a>
            <a href="/confiar">Principio de Confiar en Dios</a>
            <a href="/integridad">Principio de Integridad</a>
            <a href="/empoderamoiento">Principio de Empoderamiento</a>
        </nav>

        <section class="textos-head">
            <h1>Principio de Integridad</h1>
        
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" 
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C244.64,99.00 347.90,-23.36 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" 
            style="stroke: none; fill: #fff;"></path>
        </svg></div>
        
    </header>

    <main>
        <section class="contenedor-inicio">
            <h2 class="titulo">¿Qué es Integridad?</h2>
            <div class="contenedoraqui">
                <img src="https://st.depositphotos.com/1093689/2636/v/600/depositphotos_26365725-stock-illustration-concept-vector-graphic-of-teamwork.jpg" alt="" class="nosotros">
                <div class="contenedor-texto">
                    
                    <p>
                        Integridad deriva de la palabra de origen latino integrĭtas o integrãtis, que significa totalidad, virginidad, robustez y buen estado físico.
                    </p>
                    
                    <p>
                        Integridad deriva del adjetivo integer, que significa intacto, entero, no tocado o no alcanzado por un mal. Observando las raíces de este adjetivo, este se compone del vocablo in-, que significa no, y otro término de la misma raíz del verbo tangere, que significa tocar o alcanzar, por lo tanto, la integridad es la pureza original y sin contacto o contaminación con un mal o un daño, ya sea físico o moral.
                    </p>

                    <p>
                        Así, integridad se refiere a la calidad de íntegro y también puede referirse a la condición pura de las vírgenes, sin mancha. La integridad es el estado de lo que está completo o tiene todas sus partes, es la totalidad, la plenitud. Lo íntegro es algo que tiene todas sus partes intactas o puras.
                    
                    </p>

                    
                </div>
            </div>
        </section>
        <section class="contendido">
            <div class="contenedor">
                <div class="galeriacontent">

                    <br>
                    <br>
                    <h2 class="titulo">Tipos de Integridad</h2>
                    <br>
                    <p><strong>Integridad moral: </strong>
                        Es el derecho de una persona de poder actuar según sus propia determinación. Las legislaciones de todos los países usualmente lo reconocen.
                    </p>

                    <br>
                    <p><strong>Integridad personal: </strong>
                        Es el derecho a no ser objeto de tortura, lesiones o asesinato. Es decir, incluye tanto la integridad física como la psicológica y la moral.
                    </p>

                    <br>
                    <p><strong>Integridad referencial: </strong>
                        En informática, se trata de la propiedad de una base de datos por la cual las referencias a tablas relacionadas son correctas. Es decir, se está registrando correctamente la información de la tabla vinculada. Por ejemplo, imaginemos que tenemos una tabla con dos columnas, una donde se ingresa el nombre de los alumnos de un salón y otra donde el profesor está colocando la nota resultante del último examen. Al terminar de revisar las evaluaciones y pasar las notas, el docente se da cuenta de que una casilla de las notas está vacía, lo cual significa que no hay integridad referencial tomando en cuenta que todos los estudiantes asistieron al test.
                    </p>
                    <br>
                    <p><strong>Integridad de datos: </strong>
                        Significa que toda la información que contiene una base de datos está completa y es correcta. En ese sentido, debemos tener en cuenta que al aplicar comandos como DELETE, CORRECT o UPDATE, la data puede modificarse de forma errónea, dejando de existir integridad.
                    </p>

                    
                    <br>
                    <br>
                    <h2 class="titulo">Textos Biblicos</h2>
                    <br>
                    <p><strong>Filipenses 4:8 </strong>
                        Por lo demás, hermanos, todo lo que es verdadero, todo lo digno, todo lo 
                        justo, todo lo puro, todo lo amable, todo lo honorable, si hay alguna virtud 
                        o algo que merece elogio, en esto meditad.
                    </p>
                    <br><br>
                    <P><br><strong>Proverbios 20:7 </strong>
                        
                        El justo anda en su integridad; ¿cuán dichosos son sus hijos después de él!
                    </P>
                    <br><br>
                    <P><br><strong>Números 16:15</strong>
                        
                        Moisés se enojó mucho y dijo al SEÑOR: ¡No aceptes su ofrenda! No he tomado de ellos ni un solo asno, ni le he hecho daño a ninguno de ellos.

                        
                    </P>
                    <br>
                    <P><strong> 2 Corintios 4:2 </strong>
                        
                        sino que hemos renunciado a lo oculto y vergonzoso, no andando con astucia, ni adulterando la palabra de Dios, sino que, mediante la manifestación de la verdad, nos recomendamos a la conciencia de todo hombre en la presencia de Dios.

                        
                    </P>
                   
                    
                </div>
            </div>
        </section>
         <section class="clientescont">
            <h2 class="titulo">Pensamientos para Reflexionar</h2>
            <div class="tarjetas">
                <div class="tarjeta">
                    <img src="IMG/test.png" alt="">
                    <div class="contentexto">
                        <p align="center">"La integridad personal es como una espada: no debería blandirse hasta el momento de ponerla a prueba" <br> Ken Follett <br>
                            Tener control interno paciencia y sobre todo un buen juicio es lo que define a una persona sabia
                            
                        </p>
                    </div>
                </div>
                <div class="tarjeta">
                    <img src="IMG/mano.jpg" alt="">
                    <div class="contentexto">
                        <p align="center">"Los propósitos del señor en nuestra vida personal se cumplen en general mediante cosas pequeñas y sencillas y no por sucesos espectaculares" <br> M. Russell Ballard
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <h2 class="titulo">Video de Reflexión</h2>

    <!-- beginning video -->
        <div class="body">
            <ul class="card-wrapper">
                <li class="card">

                    <iframe id="video" src="https://www.youtube.com/embed/8ZQXvIm3EXc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 class="hh3">Principio de Integridad</h3>
                </li>
            </ul>
        </div>
    <!-- end video -->
    
    </main>
    
    <footer>
        <div class="contenedorb">
            <div class="contendb">
                <h4>Carnet</h4>
                <p>2290-14-11283</p>
                <p>2290-17-16574</p>
                <p>2290-18-18781</p>
            </div>
            <div class="contendb">
                <h4>Nombre</h4>
                <p>Diego Samuel Perez</p>
                <p>Bartolome Lacan Quiejú </p>
                <p>Danny Ixcaya Xajil</p>
            </div>
            <div class="contendb">
                <h4>Universidad</h4>
                <p>Mariano Gálvez</p>
                <p>Mariano Gálvez</p>
                <p>Mariano Gálvez</p>
            </div>
        </div>
        <h2 class="titulofinal">&copy; Etica Profesional | Sololá</h2>
    </footer>
</body>
</html>