<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etica Profesional</title>
    <link rel="shortcut icon" href="./IMG/ayuda copia1.png">

    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="tarjeta.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/comunicacion">Principio de Comunicación</a>
            <a href="/comprender">Principio de Comprender a las personas</a>
            <a href="/motivar">Principio de Motivar a las personas</a>
            <a href="/justicia">Principio de Justicia</a>
            <a href="/critica">Principio de Crítica</a> <br><br>
            <a href="/perdon">Principio del Perdón</a>
            <a href="/confiar">Principio de Confiar en Dios</a>
            <a href="/integridad">Principio de Integridad</a>
            <a href="/empoderamoiento">Principio de Empoderamiento</a>
        </nav>

        <section class="textos-head">
            <h1>Principio de Justicia</h1>
        
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" 
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C244.64,99.00 347.90,-23.36 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" 
            style="stroke: none; fill: #fff;"></path>
        </svg></div>
        
    </header>

    <main>
        <section class="contenedor-inicio">
            <h2 class="titulo">¿Qué es Justicia?</h2>
            <div class="contenedoraqui">
                <img src="https://comercioyjusticia.info/wp-content/uploads/2021/06/JUSTICIA.jpg" alt="" class="nosotros">
                <div class="contenedor-texto">
                    
                    <p>Mira dos veces para ver lo justo. No mires más que una vez para ver lo bello.
                    </p>
                    
                    <p>
                        Ganamos justicia más rápidamente si hacemos justicia a la parte contraria.
                    </p>

                    <p>
                        ¡Triste época la nuestra! Es más fácil desintegrar un átomo que un prejuicio.
                    </p>

                    <p>
                        Cuatro características corresponden al juez: Escuchar cortésmente, responder sabiamente, ponderar prudentemente y decidir imparcialmente.
                    </p>
                </div>
            </div>
        </section>
        <section class="contendido">
            <div class="contenedor">
                <div class="galeriacontent">
                    <br>
                    <br>
                    <h2 class="titulo">Justicia</h2>
                    <br>
                    <p>
                        La justicia es un conjunto de valores esenciales sobre los cuales debe basarse una sociedad y el Estado. Estos valores son el respeto, la equidad, la igualdad y la libertad.
                    </p>
                    <br><br>
                    <P>
                        En un sentido formal, la justicia es el conjunto de normas codificadas que el Estado, a través de los organismos competentes, dicta, hace cumplir y sanciona cuando son irrespetadas, suprimiendo la acción o inacción que generó la afectación del bien común. 
                    </P>
                    <br><br>
                    <P>
                        La justicia es la virtud de dar a cada uno lo que le corresponde. Es un término que proviene del vocablo latín iustitia y que tiene diferentes acepciones de acuerdo a la cultura, los valores propios de cada comunidad y el ámbito de aplicación del término.                    
                    </P>
                    <br><br>
                    <P>
                        La justicia es uno de los valores fundamentales del ser humano, a través de ella se busca que cada individuo reciba lo que le pertenece independientemente de sus condiciones, lo que implica un reconocimiento y respeto total por los derechos humanos. La justicia pone a cada individuo en el lugar que se merece, sin discriminar y respetando sus libertades individuales.                 
                    </P>

                    
                    <br>
                    <br>
                    <h2 class="titulo">Textos Biblicos</h2>
                    <br>
                    <p><strong>Eclesiastés 3:17 </strong>
                         Dios juzgará tanto a los justos 
                        como a los impíos, porque habrá un tiempo para cada actividad, un tiempo para juzgar toda acción.
                    </p>
                    <br>
                    <P><strong>Jeremías 22: 3 </strong>
                        Así dice el Señor: Haced juicio y justicia, y librad al oprimido de mano del opresor, 
                       y no engañéis ni robéis al extranjero, ni al huérfano ni a la viuda, ni derraméis sangre inocente en este lugar.
                    </P>
                    <br><br>
                    <P><br><strong> Salmos 82: 3 </strong>
                        Defended al débil y al huérfano; haced justicia al afligido y al menesteroso.
                        
                    </P>
                    <br><br>
                    <P><br><strong> Proverbios 21: 3 </strong>
                        Hacer justicia y derecho es más agradable al Señor que el sacrificio.
                        
                    </P>
                   
                    
                </div>
            </div>
        </section>
        <section class="clientescont">
            <h2 class="titulo">Pensamientos para Reflexionar</h2>
            <div class="tarjetas">
                <div class="tarjeta">
                    <img src="IMG/test.png" alt="">
                    <div class="contentexto">
                        <p align="center">"Ganamos justicia más rápidamente si hacemos justicia a la parte contraria."  <br>
                            En la justicia divina se aplica sin excepción, pero cuando el hombre llega y casi
                             siempre hecha a perder y llevarlo a su favor.
                        </p>
                    </div>
                </div>
                <div class="tarjeta">
                    <img src="IMG/mano.jpg" alt="">
                    <div class="contentexto">
                        <p align="center">"Justificar un error lo duplica; reconocerlo lo minimiza." <br>
                            "Somos maduros cuando llegamos a la conclusión de que hay que tolerar 
                            los errores ajenos, pero no por eso justificar lo nuestro."

                        </p>
                    </div>
                </div>
            </div>
        </section>

        <h2 class="titulo">Video de Reflexión</h2>

    <!-- beginning video -->
        <div class="body">
            <ul class="card-wrapper">
                <li class="card">

                    <iframe id="video" src="https://www.youtube.com/embed/RLOyUUqx0IQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 class="hh3">Principio de Justicia</h3>
                </li>
            </ul>
        </div>
    <!-- end video -->
    
    </main>
    
    <footer>
        <div class="contenedorb">
            <div class="contendb">
                <h4>Carnet</h4>
                <p>2290-14-11283</p>
                <p>2290-17-16574</p>
                <p>2290-18-18781</p>
            </div>
            <div class="contendb">
                <h4>Nombre</h4>
                <p>Diego Samuel Perez</p>
                <p>Bartolome Lacan Quiejú </p>
                <p>Danny Ixcaya Xajil</p>
            </div>
            <div class="contendb">
                <h4>Universidad</h4>
                <p>Mariano Gálvez</p>
                <p>Mariano Gálvez</p>
                <p>Mariano Gálvez</p>
            </div>
        </div>
        <h2 class="titulofinal">&copy; Etica Profesional | Sololá</h2>
    </footer>
</body>
</html>