<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etica Profesional</title>
    <link rel="shortcut icon" href="./IMG/ayuda copia1.png">

    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="tarjeta.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/comunicacion">Principio de Comunicación</a>
            <a href="/comprender">Principio de Comprender a las personas</a>
            <a href="/motivar">Principio de Motivar a las personas</a>
            <a href="/justicia">Principio de Justicia</a>
            <a href="/critica">Principio de Crítica</a> <br><br>
            <a href="/perdon">Principio del Perdón</a>
            <a href="/confiar">Principio de Confiar en Dios</a>
            <a href="/integridad">Principio de Integridad</a>
            <a href="/empoderamoiento">Principio de Empoderamiento</a>
        </nav>

        <section class="textos-head">
            <h1>Principio de Motivar a las personas</h1>
        
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" 
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C244.64,99.00 347.90,-23.36 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" 
            style="stroke: none; fill: #fff;"></path>
        </svg></div>
        
    </header>

    <main>
        <section class="contenedor-inicio">
            <h2 class="titulo">¿Qué es Motivación?</h2>
            <div class="contenedoraqui">
                <img src="https://turistium.com/wp-content/uploads/2016/12/motivar-equipo-turistium.jpg" alt="" class="nosotros">
                <div class="contenedor-texto">
                    
                    <p>Aquellos que están tan locos como para pensar que pueden cambiar el mundo, son aquellos que lo hacen
                    </p>
                    
                    <p> Yo hago lo que tu no puedes, y tu haces lo que yo no puedo, juntos podemos hacer grandes cosas</p>

                    <p> Solos podemos hacer poco, juntos podemos hacer mucho</p>

                    <p> Para que un equipo funcione, además del talento y esfuerzo, a sus miembros les tienen que brillar los ojos</p>
                </div>
            </div>
        </section>
        <section class="contendido">
            <div class="contenedor">
                <div class="galeriacontent">
                    <br>
                    <br>
                    <h2 class="titulo">Motivar a las Personas</h2>
                    <br>
                    <p>
                        Cuando los actores le preguntaban al director Alfred Hitchcock “¿cual es mi motivación?” él solía responder: “tu salario”.
                        Las investigaciones ya han dejado claro que la recompensa es el factor más importante en la predicción de la dedicación y satisfacción hacia el trabajo que el individuo esté ejecutando. 
                    </p>
                    <br><br>
                    <P>
                        Pero ¡ojo! existe un problema en toda esta ecuación: las recompensas sólo motivan a las personas a obtener más recompensas. 

                        Cuando las recompensas desaparecen, la motivación también, y la gente deja de hacer lo que estaba haciendo. Las recompensas pueden ser incluso contraproducentes si quieres desarrollar labores creativas y analíticas, por lo que no siempre la recompensa es un buen modo de motivar.
                    </P>
                    <br><br>
                    <P>
                        En Idealistas debatimos cada día sobre cuáles son los obstáculos que paran a las personas para transformar sus buenas intenciones en acción. Más allá de eso, una ver identificados los obstáculos, ¿qué motiva de verdad a las personas a seguir adelante para conseguir llevar a cabo sus objetivos? Si conseguimos saberlo, quizás podamos ser mejores motivadores.             
                    </P>
                    <br><br>
                    <P> 
                        Cuando navegas en el fascinante mundo de la motivación, leyendo pronto te das cuenta de que hay fundamentalmente dos tipos de motivaciones:                        
                    </P>
                    <br><br>
                    <P> 
                        Las externas (algo te motiva porque básicamente hay una recompensa tangible al final)                        
                    </P>
                    <br><br>
                    <p>Las internas (aquellas provocadas por la creencia en ciertos valores, el que algo esté alineado con lo que nos gusta, lo que nos apasiona, etc).
                    </p>
                    <br><br>
                    <P>
                        Diferentes estudios científicos han demostrado que aquellos que priorizan motivaciones internas frente a externas para conseguir sus metas, experimentan mayor bienestar personal y no solo eso, sino que son capaces de desarrollar mejor su creatividad. Cuando alguien siente que es el autor de su propia vida, persiguiendo metas que derivan de intereses y valores personales profundos, estos suelen emplear más esfuerzo en conseguirlas y acaban consiguiendo mejores resultados.                          
                    </P>

                    
                    <br>
                    <br>
                    <h2 class="titulo">Textos Biblicos</h2>
                    <br>
                    <p><strong> Deuteronomio 31:8 </strong>
        
                        Y Jehová es el que va delante de ti; él será 
                        contigo, no te dejará, ni te desamparará; no temas, ni te intimides.
                    </p>
                    <br><br>
                    <P><strong>Salmos 31:24 </strong>
          
                        Esforzaos todos vosotros los que esperáis en Jehová, Y tome vuestro corazón aliento. 
                    </P>
                    <br><br>
                    <p><strong>Isaías 40:31 </strong>
                 
                        Mas los que esperan á Jehová tendrán nuevas fuerzas; levantarán 
                        las alas como águilas, correrán, y no se cansarán, caminarán, y no se fatigarán
                        
                    </p>
                  
                    <P><br><strong>  Jeremías 1:8 </strong>
      
                        No temas delante de ellos, porque contigo soy para librarte, dice Jehová.
                        
                    </P>
                   
                    
                </div>
            </div>
        </section>
         <section class="clientescont">
            <h2 class="titulo">Pensamientos para Reflexionar</h2>
            <div class="tarjetas">
                <div class="tarjeta">
                    <img src="IMG/test.png" alt="">
                    <div class="contentexto">
                        <p align="center">"La clave del éxito es el trabajo duro y la constancia; de lo contrario no se logra el objetivo propuesto" <br>
                            Pienso que no solo es el trabajo duro y la constancia sino que también una buena educación financiera para realizar bienes mas rápido 
                        </p>
                    </div>
                </div>
                <div class="tarjeta">
                    <img src="IMG/mano.jpg" alt="">
                    <div class="contentexto">
                        <p align="center">En el mundo existen millones de ideas pero pocas son materializadas es por eso 
                            que no solo es suficiente en tener una buena idea. <br>
                            "Sin motivación las cosas serán difíciles de realizar"
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <h2 class="titulo">Video de Reflexión</h2>

    <!-- beginning video -->
        <div class="body">
            <ul class="card-wrapper">
                <li class="card">
                    <iframe id="video" src="https://www.youtube.com/embed/JI9itxhUudI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 class="hh3">Principio de Motivar a las Personas</h3>
                </li>
            </ul>
        </div>
    <!-- end video -->
    
    </main>
    
    <footer>
        <div class="contenedorb">
            <div class="contendb">
                <h4>Carnet</h4>
                <p>2290-14-11283</p>
                <p>2290-17-16574</p>
                <p>2290-18-18781</p>
            </div>
            <div class="contendb">
                <h4>Nombre</h4>
                <p>Diego Samuel Perez</p>
                <p>Bartolome Lacan Quiejú </p>
                <p>Danny Ixcaya Xajil</p>
            </div>
            <div class="contendb">
                <h4>Universidad</h4>
                <p>Mariano Gálvez</p>
                <p>Mariano Gálvez</p>
                <p>Mariano Gálvez</p>
            </div>
        </div>
        <h2 class="titulofinal">&copy; Etica Profesional | Sololá</h2>
    </footer>
</body>
</html>