<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etica Profesional</title>
    <link rel="shortcut icon" href="./IMG/ayuda copia1.png">

    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="tarjeta.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/comunicacion">Principio de Comunicación</a>
            <a href="/comprender">Principio de Comprender a las personas</a>
            <a href="/motivar">Principio de Motivar a las personas</a>
            <a href="/justicia">Principio de Justicia</a>
            <a href="/critica">Principio de Crítica</a> <br><br>
            <a href="/perdon">Principio del Perdón</a>
            <a href="/confiar">Principio de Confiar en Dios</a>
            <a href="/integridad">Principio de Integridad</a>
            <a href="/empoderamoiento">Principio de Empoderamiento</a>
        </nav>

        <section class="textos-head">
            <h1>Principio de Perdon</h1>
        
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" 
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C244.64,99.00 347.90,-23.36 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" 
            style="stroke: none; fill: #fff;"></path>
        </svg></div>
        
    </header>

    <main>
        <section class="contenedor-inicio">
            <h2 class="titulo">¿Qué es Perdon?</h2>
            <div class="contenedoraqui">
                <img src="https://imagenes.elpais.com/resizer/q69jpA0l7c6Q2W4RTjHwPO6rwq8=/414x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/P6WEUNCUCHNKFPBAQGZCSKNCN4.jpg" alt="" class="nosotros">
                <div class="contenedor-texto">
                    
                    <p>Solamente aquellos espíritus verdaderamente valerosos saben la manera de perdonar. Un ser vil no perdona nunca porque no está en su naturaleza
                    </p>
                    
                    <p>Perdona siempre a tu enemigo. No hay nada que le enfurezca más</p>

                    <p>"Puedo perdonar, pero no olvidar", es sólo otro forma de decir, "No puedo, perdona"</p>

                    <p>Perdonar es no tener demasiado en cuenta las limitaciones y defectos del otro, no tomarlas demasiado en serio, sino quitarles importancia, con buen humor, diciendo: ¡sé que tú no eres así!</p>
                </div>
            </div>
        </section>
        <section class="contendido">
            <div class="contenedor">
                <div class="galeriacontent">
                    <br>
                    <br>
                    <h2 class="titulo">Definicion</h2>
                    <br><br>
                    <p>
                        Perdón es la acción y el resultado de perdonar. Se puede perdonar, entre otras cosas, una ofensa (por ejemplo, un insulto), una pena (cadena perpetua, arresto domiciliario...), una deuda (por ejemplo, económica). También es la indulgencia o la remisión de los pecados.
                    </p>
                    <br><br>
                    <P>
                        La palabra 'perdón' también tiene otros significados y se utiliza en varios contextos para expresar disculpa en general ('Perdón, no me había dado cuenta'), por ejemplo cuando se interrumpe un discurso ('Perdón, ¿sabéis qué hora es?'). 
                    </P>
                    <br><br>
                    <P>                        
                        También se emplea a modo de disculpa para excusarse en una conversación ante algo que se dice de forma inapropiada ('He visto por la calle al tío ese, perdón, a tu novio'). En algunos casos se utiliza la fórmula 'con perdón'.
                    </P>
                    <br><br>
                    <P>                        
                        El perdón se suele considerar un valor humano. El perdón puede servir por un lado, al ofensor para liberarse de la culpa y por otro lado, para que el ofendido se libere de posibles sentimientos de rencor. El perdón no siempre implica que el ofensor no tenga que compensar de algún otro modo su error. 
                    </P>
                    <br><br>
                    <P>
                        Se suele valorar el hecho de saber perdonar, aunque también el saber pedir perdón, porque implica de algún modo, reconocer la culpa y el daño cometido a la otra persona. En Psicología, ambas acciones se consideran capacidades del ser humano, que también suelen tener efectos terapéuticos positivos.
                    </P>

                    
                    <br>
                    <br>
                    <h2 class="titulo">Textos Biblicos</h2>
                    <br>
                    <p><strong>Proverbios 28:13 </strong>
                        Él que encubre sus pecados no prosperará, mas el que los confiesa y los abandona hallará misericordia.
                    </p>
                    <br><br>
                    <P><strong>1 Juan 1:9 </strong>
                        Si confesamos nuestros pecados, Él es fiel y justo para perdonarnos los pecados y para limpiarnos de toda maldad.
                    </P>
                    <br><br>
                    <P><strong> Apocalipsis 2:16 </strong>
                        Por tanto, arrepiéntete; si no, vendré a ti pronto y 
                        pelearé contra ellos con la espada de mi boca.
                        
                    </P>
                    <br><br>
                    <P><strong> Mateo 6:14-15</strong>
                        
                        Si ustedes perdonan a los otros sus ofensas, también su Padre celestial los 
                        perdonará a ustedes. Pero si ustedes no perdonan a los otros sus ofensas, 
                        tampoco el Padre de ustedes les perdonará sus ofens
                        
                    </P>
                   
                    
                </div>
            </div>
        </section>
        <section class="clientescont">
            <h2 class="titulo">Pensamientos para Reflexionar</h2>
            <div class="tarjetas">
                <div class="tarjeta">
                    <img src="IMG/test.png" alt="">
                    <div class="contentexto">
                        <p align="center">"El perdón no cambia el pasado, pero amplia el futuro" <br>
                            "El perdón es un don de alto valor, aunque no nos cuesta nada"

                        </p>
                    </div>
                </div>
                <div class="tarjeta">
                    <img src="IMG/mano.jpg" alt="">
                    <div class="contentexto">
                        <p align="center">"A medida que perdonamos, en el sentido mas profundo del termino, nos sanamos un poco mas nos deshacemos de la ira y el rencor que nos atormentan"
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <h2 class="titulo">Video de Reflexión</h2>

    <!-- beginning video -->
        <div class="body">
            <ul class="card-wrapper">
                <li class="card">

                    <iframe id="video" src="https://www.youtube.com/embed/0_yN7S6YDfE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 class="hh3">Principio de Perdon</h3>
                </li>
            </ul>
        </div>
    <!-- end video -->
    
    </main>
    
    <footer>
        <div class="contenedorb">
            <div class="contendb">
                <h4>Carnet</h4>
                <p>2290-14-11283</p>
                <p>2290-17-16574</p>
                <p>2290-18-18781</p>
            </div>
            <div class="contendb">
                <h4>Nombre</h4>
                <p>Diego Samuel Perez</p>
                <p>Bartolome Lacan Quiejú </p>
                <p>Danny Ixcaya Xajil</p>
            </div>
            <div class="contendb">
                <h4>Universidad</h4>
                <p>Mariano Gálvez</p>
                <p>Mariano Gálvez</p>
                <p>Mariano Gálvez</p>
            </div>
        </div>
        <h2 class="titulofinal">&copy; Etica Profesional | Sololá</h2>
    </footer>
</body>
</html>