<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="proyectos.css">
    <title>proyectos</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/img/logoprincipal.png" alt="logo">
            <h2 class="nombredelaempresa">Pablo</h2>
        </div> 
        <nav><a href="/" class="nav-link">INICIO</a>
            <a href="/servicios" class="nav-link">SERVICIOS</a>
            <a href="/proyectos" class="nav-link">PROYECTOS</a>
            <a href="/sobremi" class="nav-link">SOBRE MI</a> </nav>
    </header>
    <div class="contenedor">
        <div class="tarjeta">
            <img src="/img/diseñoicono.jpg" alt="iconoproyectosdiseño">
            <h1>Diseño</h1>
            <p>Logotipos, tarjetas y mi trabajo en general como diseñador gráfico.</p>
            <a id="vermas" href="/proyectosdiseno">Ver todos</a>
        </div>

        <div class="tarjeta">
            <img src="/img/programadoricono.jpg" alt="iconoproyectoprogramacion">
            <h1>Programación</h1>
            <p>Proyectos universitarios, en diferentes herramientas y lenguajes.</p>
            <a id="vermas" href="proyectosprogramacion.html">Ver todos</a>
        </div>
    </div>
</body>
</html>