<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="proyectosdiseno.css">
    <title>proyectosdiseño</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/img/logo.png" alt="logo">
            <h2 class="nombredelaempresa">Pablo</h2>
        </div> 
        <nav><a href="/" class="nav-link">INICIO</a>
            <a href="/servicios" class="nav-link">SERVICIOS</a>
            <a href="/proyectos" class="nav-link">PROYECTOS</a>
            <a href="/sobremi" class="nav-link">SOBRE MI</a> </nav>
    </header>
    <div class="contenedor">
        <div class="tarjeta">
            <img src="/img/logosanpabloconfondocopia.JPG" alt="logosanpabloconfondocopia">
            <h1>Logo San Pablo F.C.</h1>
            <p>Diseño de logo para equipo de fútbol.</p>
            <a id="vermas" href="proyectosdiseno.hbs">Ver</a>
        </div>

        <div class="tarjeta">
            <img src="/img/tarjetaicono.JPG" alt="tarjetaicono">
            <h1>Tarjetas</h1>
            <p>Tarjetas de presentación y/o invitación.</p>
            <a id="vermas" href="proyectosdiseñotarjeta.html">Ver</a>
        </div>

    </div>
</body>
</html>