<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sobremi.css">
    <title>sobremi</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/img/logo.png" alt="logo">
            <h2 class="nombredelaempresa">Pablo</h2>
        </div> 
        <nav><a href="/" class="nav-link">INICIO</a>
            <a href="/servicios" class="nav-link">SERVICIOS</a>
            <a href="/proyectos" class="nav-link">PROYECTOS</a>
            <a href="/sobremi" class="nav-link">SOBRE MI</a> </nav>
    </header>
    <div class ="avatar"><img src="/img/avatar.png" alt="avatar"></div>
    <h1>SOBRE MI</h1>
    <p>Hola, me llamo Pablo Quiacaín.</p>
    <p>Actualmente curso el décimo semestre de la carrera de Ingeniería en Sistemas de Información, 
        en la Universidad Mariano Gálvez de Guatemala, en la sede del departamento de Sololá.
    </p>
    <p>Soy originario de San Pablo La Laguna, Sololá, Guatemala.</p>
    <hr>
    <h2 id="subtitulo">CONTACTO</h2>
    <div class="whatsapp"><img src="/img/whatsapp.png" alt="whatsapp">
    <p id="contacto">4755-2799</p></div>
    <div class="email"><img src="/img/email.png" alt="email">
    <p id="correo">quiacainpablo.7@gmail.com</p></div>
</body>
</html>